* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #162831;
    padding: 30px 0 30px 0;
    align-items: center;
}
.wrapper {
    width: 1296px;
    margin: 0 auto;
}

.header__container {
    width: 1296px;
    margin: 0 auto;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
    padding: 21px 0 20px 0;
    width: 655px;
}

.menu__link{
    height: 19px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    background-color: #162831;
    border: none;
    cursor:pointer;
}
.btn{
    width: 150px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
    background: #018ABE;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}



.first_screen {
    margin: 0 auto;
    margin-top: 70px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 1296px;
    background: url('../img/bg/first_bg.jpg') center center / cover no-repeat;
    border-radius: 10px;
}
.section__heding{
    margin-top: 136px;
}
.main-title{
    margin-top: 40px;
    text-align: center;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF
}
.sessions_group{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.session {
    display: flex;
    align-items:flex-end;
    margin-top: 24px;
    margin-right: 24px;
    width: 416px;
    height: 258px;
    background: url(/img/session_selection/unsplash_little_ligth.png);
    border-radius: 10px;

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    vertical-align: bottom;
}
.session__active {
    background-image: url(/img/session_selection/unsplash_big_ligth.png);
    height: 540px;
}


.description {
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    width: 1076px;
    margin-top: 150px;
}
.section__heding {
    display: flex;
    align-items:center;
    justify-content: center;
}
.section-title {
    margin-left: 45px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
}
.section-rectangle_left{
    background: url('../icons/Rectangle_left.png');
    width: 28px;
    height: 14px;
    border-radius: 0px 50px;
}
.section-rectangle_rigth{
    background: url('../icons/Rectangle_left.png');
    width: 28px;
    height: 14px;
    margin-left: 45px;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.section-title_mini{
    font-size: 24px;
}

.rectangle_white{
    background: #FFFFFF;
}