* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #162831;
    padding: 30px 0 30px 0;
    align-items: center;
}
.wrapper {
    width: 1296px;
    margin: 0 auto;
}

.header__container {
    width: 1296px;
    margin: 0 auto;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
    padding: 21px 0 20px 0;
    width: 655px;
}

.menu__link{
    height: 19px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    background-color: #162831;
    border: none;
    cursor:pointer;
}

.first_screen {
    margin: 0 auto;
    margin-top: 70px;
    height: 600px;
    /* width: 1296px; */
    background: url('../img/bg/first_bg.jpg') center center / cover no-repeat;
    
}

.description {
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    width: 1076px;
    margin-top: 150px;
}
.description__heding{
    display: flex;
}
.section-title {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
}
.section-rectangle_left{
    background: url('../icons/Rectangle_left.png');
    width: 28px;
    height: 14px;
    border-radius: 0px 50px;
}
.section-rectangle_rigth{
    background: url('../icons/Rectangle_rigth.png');
    width: 28px;
    height: 14px;
    border-radius: 0px 50px;

}